.IOs{
  background-color: rgba(216, 216, 216, 0.3);
  width: 40vw;
  margin: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px lightblue;

}



.cBody{
  background-color: rgba(248, 247, 247, 0.932);
  padding: 5px 30px 10px 30px;
  
 
}
.RunButton{
  background-color: rgba(216, 216, 216, 0.3);
  border: 1px solid black;
  padding: 0px 15px;
  border-radius: 5px;
  font-weight:500;
  box-shadow: 5px 5px 5px lightblue;
}
.langbutton{
 
  align-content: center;
  border-radius: 5px;
  background-color: rgba(216, 216, 216, 0.3);

  padding: 5px 10px;
  border: 1px solid black;
  font-weight:500;
  box-shadow: 5px 5px 5px lightblue;
}
.cb{
  border-radius: 20px;
  padding: 30px;
  margin: 0px 14px;

  background-color: rgba(255, 255, 255, 0.925);
  border: 1px solid black;
  box-shadow: 5px 5px 5px lightblue;
 
}
.full-width {
  width: 100%;
  height: 11vh;
  max-height: 30vh;
  padding: 2px;
  border: none;
  background-color: rgba(216, 216, 216, 0);

  
}
#outputbloc{
  height: 11vh;
  max-height: 30vh;
  overflow-y: scroll;
}


